/*CSS file for Giphtastic Homework Assignment*/

.btn-outline-danger {
    margin: 5px;
}

.iDiv {
    margin: 5px;
    border: 2px solid red;
    background-color: rgb(95, 78, 248);
}

body {
    background-image: URL("../images/background2JPG.jpg");
}

.header-row {
    padding: 15px;
    margin: 15px;
    color: white;
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#button-section {
    margin-bottom: 20px;
}

#addTeam-form {
    color: white;
    font-size: 20px;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.instructions {
    color: white;
    font-size: 20px;
    font-weight: 300;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.input-row {
    margin-top: 10px;
}

